/* --------------------------------------------------------
Style Sheet for christof.digital

version: 0.9
last modified: 3.11.2021 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

/* @import url("https://fonts.googleapis.com/css?family=Gotu&display=swap"); */

:root {
  --color-brand: #C90076;
  --color-brand-dark: #200530;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


/* ==========================================================================
	General overrides and utilities
	========================================================================== */

html, body {
	scroll-behavior: smooth;
}

::selection {
  @apply text-brand;
}

::-moz-selection {
  @apply text-brand;
}

.link {
  @apply underline underline-offset-2 outline-none;
}

.link:hover {
  @apply no-underline bg-brand rounded transition-all duration-500 text-white px-1;
}

/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply font-bold border-b-2 border-brand dark:bg-brand;
}

.mobile-menu .active-nav {
  @apply font-bold bg-brand text-white border-b-0;
}


/* ==========================================================================
	Forms 
	========================================================================== */

input[type="radio"] {
  @apply focus:outline-none hover:cursor-pointer mr-2 align-text-bottom mb-0.5; 
}

input[type='radio']:after, input[type='radio']:checked:after {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 12px;
  background-color: white;
  display: inline-block;
  border: 2px solid white;
  outline: 2px solid #666; 
}

input[type='radio']:checked:after {
  background-color: var(--color-brand);
  border-color: white;
  outline: 2px solid #666;
}

.button {
  @apply w-48 my-8 px-8 py-4 
  bg-brand text-white rounded shadow-2xl
    hover:shadow hover:cursor-pointer
    transition-all
}
