/* --------------------------------------------------------
Style Sheet for christof.digital

version: 0.9
last modified: 3.11.2022 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Gotu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lora&display=swap");

:root {
  --color-brand: #DBDBDB;
  --color-brand-dark: #242424;
  --color-cta: #D6A269;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


/* ==========================================================================
	General overrides and utilities
	========================================================================== */

html, body {
	scroll-behavior: smooth;
}

::selection {
  @apply text-cta;
}

::-moz-selection {
  @apply text-cta;
}

.link {
  @apply underline underline-offset-2 outline-none;
}

.link:hover {
  @apply no-underline text-cta transition-all;
}

.nextimg {
  font-size: 0;
  letter-spacing: 0;
  word-spacing: 0;
  position: relative;
}


/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply text-cta bg-gray-dark dark:bg-gray dark:text-gray-dark;
}

.active-tab {
  @apply border-b-2 border-cta font-bold dark:border-cta;
}

/* ==========================================================================
	Forms 
	========================================================================== */

.button {
  @apply w-48 my-8 px-8 py-4 
    bg-brand-dark text-brand dark:bg-brand dark:text-brand-dark rounded shadow-lg
    hover:shadow hover:cursor-pointer hover:text-cta dark:hover:text-cta transition-all;
}

.button-cta {
  @apply w-48 my-8 px-8 py-4 
    bg-cta text-brand-dark rounded shadow-lg
    hover:shadow hover:cursor-pointer transition-all;
}

:disabled {
  @apply cursor-not-allowed hover:text-brand dark:hover:text-brand-dark hover:shadow-lg;
}
