/* --------------------------------------------------------
Style Sheet for christof.digital

version: 0.9
last modified: 3.11.2021 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Gotu&display=swap");

:root {
  /* --color-brand: #C90076;
  --color-brand-dark: #200530;  */
  
  /* --color-brand: #a6d1c9;
  --color-brand-dark: #282b29;
  --color-highlight: #C90076; */

  --color-brand: #DBDBDB;
  --color-brand-dark: #242424;
  --color-highlight: #D6A269;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}


/* ==========================================================================
	General overrides and utilities
	========================================================================== */

html, body {
	scroll-behavior: smooth;
}

::selection {
  @apply text-highlight;
}

::-moz-selection {
  @apply text-highlight;
}

.link {
  @apply underline underline-offset-2 outline-none;
}

.link:hover {
  @apply no-underline text-highlight transition-all;
}


/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply dark:bg-brand dark:text-brand-dark bg-brand-dark text-brand ;
}


/* ==========================================================================
	Forms 
	========================================================================== */

.button {
  @apply w-48 my-8 px-8 py-4 
    bg-brand text-brand-dark dark:bg-brand-dark dark:text-brand rounded shadow-lg
    hover:shadow hover:cursor-pointer
    transition-all
}
